*{
    margin: 0;
}

.msheet{
    width: 100%;
}

.introduct{
    margin-top: 20px;
    height: 14%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-style: bold;
    width: 99%;
}

.atheader{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-style: bold;
    padding-top: 29px;
}

.atthemiddle{
    color: #092F57;
}

.inthecenter{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170.6%;
    text-align: center;
    color: #092F57;
}

.mainsheet{
    margin-top: 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.imgsheet{
    width: 66%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.contentsheet{
    width: 85%;
    height: fit-content;
    display: flex;
    align-items: inherit;
    justify-content: space-between;
    margin-top: 15px;
}

.theheader{
    width: 30%;
    font-size: 16px;
    color: #092F57;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
}
/* 
.spana{
    text-align: center;
}

.aspan{
    margin-left: 30px;
} */

/*mob view starts*/

.mainmobsheet{
    height: 400px;
    margin-top: 3%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    width: 90%;
    margin: auto;
}

.imgmobsheet{
    width: fit-content;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    margin-left: 30px;
}

.contentmobsheet{
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-left: 20px;
}

.amob{
    margin-top: 120px;
}

.aspanmob{
    margin-top: 45px;
}

.sheetmobimg{
    width: 70px;
    height: 70px;
}

.themobheader{
    font-size: 16px;
    text-align: start;
    color: #092F57;
    margin: auto;
    margin-left: 0 !important;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/*mob view ends*/

