/*Service page starts*/

.service{
    width: 100%;
    background-color: #092F57;
  }


  .intro{
    height: 35%;
    display: flex;
    flex-flow: column nowrap;
  }

  .head{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    font-style: bold;
    padding-top: 29px;
  }

  .inthemiddle{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }
  
  .head img{
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .cent{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170.6%;
  text-align: center;
  color: #FFFFFF;
  }
  
  .paracontainer{
    width: 70%;
    margin: auto;
  }
  
  .disp{
    display: block;
    width: 90%;
    height: 50%;
    margin-left: 8%;
    margin-top: 60px;
    padding-bottom: 80px;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .dispscroll::-webkit-scrollbar {
    display: none;
  }

  .dispscroll{
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .pic{
    display: inline-block;
    position: relative;
    margin-left: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 215px;
    height: 215px;
    border: 2px solid white;
  }

  .boxslide{
    padding-top: 40px;
    width: 85%;
    margin: auto;
    padding-left: 50px;
    padding-bottom: 60px;
  }

  .innerslide{
    width: 235px !important;
  }

  .picslide{
    width: 215px;
    height: 215px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: auto;
  }

  .boxslide .slick-track{
    margin-bottom: 20px !important;
  }

  /* .boxslide ul.slick-dots button{
    background-color:  #FFFFFF !important;
  } */

  .boxslide .slick-dots li.slick-active button:before{
    color: #ffffff !important;
    opacity: 2;
  }

  .boxslide .slick-dots{
    padding-right: 40px;
  }

  .picslide img{
    height: 110px;
    width: 110px;
    margin: auto;
  }

  .picslide h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170.6%;
    text-align: center;
  }

  .mobboxslide{
    padding-top: 40px;
    width: 85%;
    margin: auto;
    padding-bottom: 60px;
  }
  
  .mobpicslide{
    width: 215px;
    height: 215px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    margin: auto;
  }

  .mobpicslide img{
    height: 110px;
    width: 110px;
    margin: auto;
  }

  .mobpicslide h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170.6%;
    text-align: center;
  }

  .mobboxslide .slick-dots li.slick-active button:before{
    color: #ffffff !important;
    opacity: 2;
  }

  .mobboxslide .slick-track{
    margin-bottom: 10px !important;
  }

  .pic h2{
    height: 10px;
    width: 110px;
    margin-left: 80px;
  }

  .pic img{
    height: 110px;
    width: 110px;
    margin-left: 50px;
  }
  
  .pic h3{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170.6%;
    text-align: center;
  }

  /*mobile view*/
  
  .mobpic{
    display: inline-block;
    position: relative;
    margin-left: 15%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 30px;
    width: 215px;
    height: 215px;
    border: 2px solid white;
  }

  .mobpic h2{
    height: 10px;
    width: 110px;
    margin-left: 80px;
  }

  .mobpic img{
    height: 110px;
    width: 110px;
    margin-left: 50px;
  }

  .mobpic h3{
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 170.6%;
    text-align: center;
  }

  /*mobile view ends*/


  /*Service page ends*/