.FirstPage{
    width: 100%;
    border: 2px solid transparent;
    box-sizing: border-box;
    background-color: white;
}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #092F57;
    margin-top: 130px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.outerbox{
    width: 88%;
    height: 425px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerbox1{
    width: 48%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.boxtitle{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
    color: #092F57;
    text-transform: uppercase;
}

.boxtext{
    font-size: 18px;
    width: 80%;
    text-align: center;
    color: #7B7F8C;
}

.dashed{
    width: 0.3px;
    height: 90%;
    border: 0.2px solid #989CAC;
}

.innerbox2{
    width: 48%;
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/*Mobile view starts*/

.outermobbox{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.innermobbox1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.mobdashed{
    width: 60%;
    border: 0.2px solid #989CAC;
    height: 0.3px;
}

.innermobbox2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Mobile view ends*/